name: Mirroring

on:
  push:
    branches:
      - main

jobs:
  to_bitbucket:
    runs-on: ubuntu-latest
    steps:                                              # <-- must use actions/checkout before mirroring!
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url:
            git@bitbucket.org:punk-domains/iggy-contracts.git
          ssh_private_key:                              # <-- use 'secrets' to pass credential information.
            ${{ secrets.BITBUCKET_SSH_PRIVATE_KEY }}

  to_gitlab:
    runs-on: ubuntu-latest
    steps:                                              # <-- must use actions/checkout before mirroring!
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url:
            git@gitlab.com:iggy-social/iggy-contracts.git
          ssh_private_key:                              # <-- use 'secrets' to pass credential information.
            ${{ secrets.BITBUCKET_SSH_PRIVATE_KEY }}